---
layout: default
---
      <div class="space"></div>
      <div class="home">
        <div class="content-col-wrapper">
          <div class="content-col">
            <div class="dummy">
              <br>

              <h2>About</h2>
              I'm currently a postdoctoral scholar at the <a href="http://dsapp.org">Center for Data Science and Public Policy</a> at the <a href="https://www.ci.uchicago.edu/">Computation Institute</a> and the <a href="http://harris.uchicago.edu/">Harris School for Public Policy</a> at the University of Chicago. My interests are data analysis methods, machine learning, privacy and security. Previously I was a <a href="http://dssg.io">2015 Data Science for Social Good Fellow</a> and an astrophysicist at the <a href="http://kicp.uchicago.edu">Kavli Institute for Cosmological Physics</a>.<br><br>

              <h2>Teaching</h2>
              Winter 2016 
              <ul>
              <li>University of Chicago - <a href="https://computationforpolicy.github.io/"> Computation for Public Policy </a> (PPHA 30530)</li>
            </ul><br>

              <h2>Contact</h2>
              Drop me a line at <a href="mailto:jen@redshiftzero.com">jen@redshiftzero.com</a> or on Twitter <a href="https://www.twitter.com/redshiftzero">@redshiftzero</a>.<br> My PGP fingerprint is 1308 98DB C324 62D4 1C7D 298E BCDF 35DB 90CC 0310. <br><br>


              <h2>Projects </h2>

              <div class="photos">
                <a href="https://lucyparsonslabs.com" class="p1 photo" target="_blank"><img alt="Organizing for accountability, transparency, and security in Chicago" src="images/lpl_logo.png"></a>
                <a href="https://github.com/dssg/police-eis" class="p2 photo" target="_blank"><img alt="Predicting adverse interactions between police and members of the public" src="images/eis_risk_scores.png"></a> 
                <a href="https://redshiftzero.github.io/policesurveillance" class="p3 photo" target="_blank"><img alt="Primer on police surveillance technologies deployed in Chicago" src="images/stingray.png"></a> 
                <a href="https://github.com/redshiftzero/fairness" class="p4 photo" target="_blank"><img alt="Building tools for fairness in algorithms" src="images/fairness.jpg"></a>
                <a href="https://twitter.com/cryptopartychi" class="p5 photo" target="_blank"><img alt="Organizing digital security trainings in Chicago" src="images/cryptoparty.png"></a>
                <a href="http://dssg.uchicago.edu/2015/08/20/cincy-blight-prevention.html" class="p6 photo" target="_blank"><img alt="Predictive risk modeling for building code issues in Cincinnati" src="images/cincy_model.png"></a>
                <a href="http://arxiv.org/find/all/1/all:+Helsby/0/1/0/all/0/1" class="p7 photo" target="_blank"><img alt="Academic publications in astrophysics" src="images/hdf_snippet.png"></a>
       
                <div class="caption c1">CTO of Lucy Parsons Labs: An Illinois non-profit working on police accountability, transparency, and digital security</div>
                <div class="caption c2">Predicting adverse interactions between police and members of the public</div>
                <div class="caption c3">Primer on police surveillance technologies deployed in Chicago</div>
                <div class="caption c4">Building tools for fairness in algorithms</div>
                <div class="caption c5">Organizing digital security trainings for activists, journalists, and the public in Chicago</div>
                <div class="caption c6">Preventing neighborhood blight in Cincinnati with predictive modeling</div>
                <div class="caption c7">Academic publications in astrophysics</div>

              </div><br>

              <div class="dummy blogpost">
                <h2>Blog posts</h2>
              </div>
            </div><p></p><p></p>
              <ul class="post-list">{% for post in paginator.posts %}
                <div class="titlepost">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </div>
                <div class="datepost">
                  <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </div>{% endfor %}
              </ul>
          </div>
        </div>
        <div class="pagination">{% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous"><b>Previous</b></a>{% else %}{% endif %}{% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next"><b>Next</b></a>{% else %}{% endif %}
        </div>
      </div>
      <div class="space"></div>
