---
layout: layout
---
	<div class="post">

	  <header class="post-header">
	    <span itemprop="name"><h1 class="post-title"><center>{{ page.title }}</center></h1></span>
	    <p class="post-meta"><center>{{ page.date | date_to_string }}
	     • <a href="https://github.com/{{  site.sosial_username }}" target="_blank">{{ page.author }}</a></center></p>
	  </header>

      <article class="post-content">
	  <div style="padding-left: 100px; padding-right: 100px">{{ content }}</div>
	  </article>
	</div>
